<div class="container">
  <div class="row align-items-start">
    <div class="col-12">
      <h1 class="h3 mb-3 font-weight-normal text-center">Retrouvez tous nos artistes</h1>
    </div>
  </div>
</div>
<div class="container">
  <% @services.each do |service| %>
    <div class="card-product">
      <div class="card-product-infos">
        <h3><%= service.name %></h3>
        <p class="details" style="font-size:20px" ><%= service.description.truncate(130) %> </p>
        <div class="container">
          <div class="row">
            <div class="col-md-auto">
              <%= link_to 'Réserver', artists_path(service_id: service.id), class: "btn btn-whitepink my-2" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>