// Import Google fonts
@font-face {
    font-family: retroking;
    src: url(Retroking.ttf);
  }

  .custom-font{
      font-family: retroking;
  }

// Define fonts for body and headers
$body-font: "Bookman", "Work Sans", "Helvetica", "sans-serif";
$headers-font: "retroking", "Helvetica", "sans-serif";

