.card-cutsom{
  border-radius: 2em;
  border: solid 3px #D2F4F4;
  padding: 1em;
  margin: 1em 1em;
  transition-duration: .3s;
  &:hover{
    background-color: #D2F4F4;
  }
  .head{
    height: 170px;
    width: 100%;
    margin: .5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .pic{
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.jumbotron{
  background-color: #E83E8C;
}

h2 {
	text-align: center;
}

.col-6, .col-8 {
	margin: 1% 0;
}

.container {
	margin: 2% 0;
}
