#pages-faq {

	.jumbotron {
	  background-color: #E83E8C;
	 	height: 100px;
	  display: flex;
	  align-items:  center;
	  justify-content: center;
  
	}
	

	.img-faq {
		width: 150px;
	}
	
	.img-faq2 {
		height: 150px;
	}
	
	.row-img {
		display: flex;
	  align-items:  center;
	  justify-content: center;
	}

	h1 {
		text-align: center; 
	}
	
	.container {
		margin: 2%;
	}
	
}
