#pages-faq {

	.container-faq {
	  display: flex;
	  align-items:  center;
	  justify-content: center;
  
	}
	
	h1 {
		font-size: 48px;
		margin-top: 12px;
	}

	.container-content {
		margin-top: 4%;
		margin-top: 4%;
	}
	
	.img-faq {
		width: 150px;
	}
	
	.img-faq2 {
		height: 150px;
	}
	
	.row-img {
		display: flex;
	  align-items:  center;
	  justify-content: center;
	}
	
}
