<h1>Creation Order</h1>

<%= simple_form_for ([@artist, @availability, @order]) do |f| %>
  <%= f.input :target %>
  <%= f.input :description %>
  <%#= f.input :service,as: :select %>
  <%= f.button :submit %>
<% end %>
