<section class="jumbotron text-center">
  <div class="container">
    <span class="custom-font display-3"> Le Téléphone Ose </span>
    <p class="lead text-white">"Le bonheur, c'est simple comme un coup de fil"
      <br/>
    Après le Téléphone Rose, le Téléphone pleure, celui de Gaston ou le groupe, voici le Téléphone Ose !</p>
    <p>
      <%= link_to "Découvrir les artistes", artists_path, class: "btn btn-whitepink my-2" %> 
      <%= link_to "Découvrir les services", services_path, class: "btn btn-whitepink my-2" %>
    </p>
  </div>
</section>
<div class="container marketing">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-3 d-flex justify-content-center flex-row flex-wrap card-cutsom">
      <div class="head">
        <img src="https://res.cloudinary.com/borismd/image/upload/v1607101150/Assets/pin-up-girl-5019512_960_720_bj0401.png" class="pic">
      </div>
      <div class="w-100 d-flex justify-content-center">
        <h3 class="custom-font">Un service unique</h3>
      </div>
      <p>Jamais aucune plateforme n'a proposé un tête-à-tête aussi intime entre un artiste et son public.</p>
    </div>
    <div class="col-lg-3 d-flex justify-content-center flex-row flex-wrap card-cutsom">
      <div class="head">
        <img src="https://res.cloudinary.com/borismd/image/upload/v1607101152/Assets/pin-up-girls-4997599_960_720_qxwsnl.webp" class="pic">
      </div>
      <div class="w-100 d-flex justify-content-center text-center">
        <h3 class="custom-font">Un moment magique</h3>
      </div>
      <p>Votre chanson préférée susurée à l'oreille vous provoquera des frissons uniques.</p>
    </div>
    <div class="col-lg-3 d-flex justify-content-center flex-row flex-wrap card-cutsom">
      <div class="head">
        <img src="https://res.cloudinary.com/borismd/image/upload/v1607101151/Assets/pin-up-girls-4997597_960_720_tat5vz.webp" class="pic">
      </div>
      <div class="w-100 d-flex justify-content-center">
        <h3 class="custom-font">Un cadeau inédit</h3>
      </div>
      <p> Offrez votre titre préféré à un de vos proches, pour un effet garanti !</p>
    </div>
  </div>
</div>
