<h1>Page d'accueil</h1>

<p>Slogan</p>

<p>Explication du concept</p>

<ul>
  <li>
    <%= link_to "Mentions", mentions_path %>
  </li>
  <li>
    <%= link_to "List artist", artists_path %>
  </li>
</ul>

