

<section class="jumbotron text-center">
    <div class="container">
      <span class="custom-font display-3"> Le Téléphone Ose </span>
      <p class="lead text-muted">"Le bonheur, c'est simple comme un coup de fil"
<br/>
Après le Téléphone Rose, le Téléphone pleure, celui de Gaston ou le groupe, voici le Téléphone Ose !</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Découvrir les artistes</a>
      </p>
    </div>
  </section>










 <div class="container marketing">
    <div class="row">
      <div class="col-lg-4 d-flex justify-content-center flex-row flex-wrap">
        <div class="w-100 d-flex justify-content-center">
        <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        </div>
        <h3>Un service unique</h3>
        <p>Jamais aucune plateforme n'a proposé un tête-à-tête aussi intime entre un artiste et son public.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 d-flex justify-content-center flex-row flex-wrap">
        <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h3>Un moment magique</h3>
        <p>Votre chanson préférée susurée à l'oreille vous provoquera des frissons uniques.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 d-flex justify-content-center flex-row flex-wrap">
        <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <div class="w-100 d-flex justify-content-center">
                <h3>Un cadeau inédit</h3>
        </div>
        <p>Offrez votre titre préféré à un de vos proches, pour un effet garanti !</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
</div>
