.navbar-mainbar {
  justify-content: space-between;
  background: #e83e8c;
  position: sticky;
  top: 0;
  left:0;
  z-index:5;
}

.navbar-mainbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-mainbar .navbar-brand img {
  width: 40px;
}

.navbar-a {
  color: #FFF;
  &:hover{
      color: #000;
    }
}

.nav-item{
  .nav-link{
    &:hover{
      color: white !important;
    }
  }
}

.pp-container{
  pointer-events: none;
  cursor: pointer;
  padding: 0.2em;
  transition-duration: .5s;
  border-radius: 50%;
  &:hover{
    background-color: #fff;
  }
}