<div class="container">
  <div class="row align-items-start">
    <div class="col-12">
      <h1 class="h3 mb-3 font-weight-normal text-center">Les disponibilités de l'artiste <%= @artist.name %></h1>
    </div>
  </div>
</div>

<table>
  <thead>
  <tr>
    <th> Heure de début</th>
    <th> Heure de fin</th>
  </tr>
  </thead>
  <tbody>

  <% @availabilities.each do |availability| %>

    <tr>
      <% if availability.is_booked == false %>
        <td> <%= availability.start_date.strftime('%d/%m/%y: %H:%M') %>-</td>
        <td> <%= availability.end_date.strftime('%d/%m/%y: %H:%M') %> </td>

        <td><%#= button_to 'Réserver ce créneau', artist_orders_path(availability_id: availability.id), method: :post %></td>
        <td><%= link_to 'Réserver ce créneau', new_availability_order_path(availability_id: availability.id)%></td>
      <% end %>

    </tr>

  <% end %>
  </tbody>

</table>
